<div id="UserStatus">
    <ul class="list-group"></ul>
    <% for(let index = 0; index < usersStatuses.length; index++) { %>
        <li class="list-group-item <%= (usersStatuses[index].status) == 'Online' ? 'text-success' : 'text-secondary' %>"> <%= usersStatuses[index].username %> </li>
    <% } %>
    </ul>
</div>