<!doctype html>
<html>

<head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/chatroom.css">
</head>

<body>
    <script>
        const roomName = '<%= roomName %>'
    </script>

    <div id="chatrooms">
        <ul>
            <% for (chatroom of chatrooms) { %>
            <li><a href="/chatroom/<%= chatroom.roomname %>"> <%= chatroom.roomname %> </a></li>
            <% } %>
        </ul>
    </div>

    <div id="chat-container">
        <ul id="messages"></ul>
        <form action="">
            <input id="m" autocomplete="off"><button>Send</button>
        </form>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/js/chatroom.js"></script>
</body>

</html>