<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include partials/header.ejs %>
    
  </head>
  <body>
        <div class="container h-50">
                <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-sm-6">
                            <h1>Redigeringssida för <%= data.username %></h1>
                            <form id="formEditUser" method="post" enctype="multipart/form-data" action="/profile/<%= data.username %>">
                              <input id="inputUserName" type="text" value="<%= data.username %>" name="username" />
                              <input id="inputUserEmail" type="text" value="<%= data.email %>" name="useremail" />
                              <input type="file" name="profile_image" id="profile_image">
                              <button type="submit">Submit Changes</button>
                            </form>   
                    </div>  
                </div>
            </div>
  </body>
</html>