<!DOCTYPE html>
<html>
  <head>
    <% include partials/header.ejs %>
    
  </head>
  <body>
        <div class="container h-50">
                <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-sm-6">
                            <h1>Redigeringssida för <%= user.username %></h1>
                            <form id="formEditUser" name="editeduser" method="post" action="/profile/<%= user.username %>">
                              <input id="inputUserName" type="text" value="<%= user.username %>" name="username" />
                              <input id="inputUserEmail" type="text" value="<%= user.email %>" name="useremail" />
                              <button id="btnSubmit" type="submit">Submit</button>
                            </form>
                    </div>  
                </div>
            </div>
  </body>
</html>