<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/header %>
</head>

<body>


    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-sm-6">
                <form action="/login" method="post">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" id="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Sign-in</button> <input type="button" class="btn btn-primary float-right mr-5" value="Create an account">
                </form>
            </div>
        </div>
    </div>

</body>

</html>