* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
}

#sendMessage {
   
    bottom: 0;
    width: 100%;
    margin-top: 5%;
}

#sendMessage input {
    border: 0;
    padding: 1%;
    width: 64%;
}

#sendMessage button {
    width: 14%;
    border: none;
    padding: 10px;
}

#messages, .roomList {
    list-style-type: none;
    margin: 0;
}

#messages li {
    padding: 5px 10px;
}
li {
    padding: 1px;
}
/* #messages li:nth-child(odd) {
    background: #eee;
} */

#chat-container {
    overflow: auto;
    height: 64vh;
    background-color: #2f3136;
    color: white;
    
}

#textInfo {

    font-size: 1.2em;
    padding: 1%;
}
#around-chat {
    background-color: #2f3136;
    color: white;
    padding: 1%;
    max-height: 95vh;
}
/*
#direct-messages {
    overflow: auto;
    height: 400px;
}
*/

#direct-messages {
    font-size: 1.3em;
}

.container-fluid {
    background-color: #42454a;
    height: 100%;
}
.row {
    padding: 1%;
}

#All-users {
    overflow: auto;
    max-height: 95vh;
    background-color: #36393f;
    color: white;
    list-style-type: none;
    padding: 1%;
}
#All-users li, #All-users li, .stuff {
    font-size: 1.3em;
    text-decoration: none;
    padding: 10px;
}

#chatrooms {
    background-color: #202225;
    color: white;
    max-height: 95vh;
    overflow: auto;
    list-style-type: none;
    padding: 1%;
}

.test {
    border: 1px #42454a solid;
}

.edit-buttons, .delete-buttons {
    float: right;
    margin: 2px;
}

.wow {
    color: black;
}

.space {
    padding: 1%;
}

#createChatRoom, #newRoomName {
    background-color: #202225;
    color: whitesmoke;
   
}

#newRoomName {
    width: 60%;
    display: inline-block;
    
    
}

.loggedIn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}