* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
}

#sendMessage {
   border: 2px black solid;
    position: fixed;
    bottom: 0;
    width: 65%;
}

#sendMessage input {
    border: 0;
    padding: 10px;
    width: 90%
}

#sendMessage button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}

#messages, .roomList {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    
}

#messages li {
    padding: 5px 10px;
}

/* #messages li:nth-child(odd) {
    background: #eee;
} */

#chat-container {
    overflow: auto;
    height: 94vh;
    background-color: #2f3136;
    color: white;
    
}

#around-chat {
    background-color: #2f3136;
    color: white;
}
/*
#direct-messages {
    overflow: auto;
    height: 400px;
}
*/

#All-users {
    overflow: auto;
    height: 90%;
    background-color: #36393f;
    color: white;
}

#chatrooms {
    background-color: #202225;
    color: white;
    max-height: 95vh;
    overflow: auto;
}

.test {
    border: 1px #42454a solid;
}

.message-buttons {
    float: right;
    margin: 2px;
}