* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* CSS for chatroom page, also connected to other pages */
body {
    /*font: 13px Helvetica, Arial;*/
    font-family: 'Roboto', sans-serif;
}

#sendMessage {
    bottom: 0;
    width: 100%;
    margin-top: 2%;
}

.roomList a{
    font-size: 1.2em;
    text-decoration: none;
    
}

#sendMessage input {
    border: 0;
    padding: 1%;
    width: 84%;
    padding: 20px;
}

#sendMessage #submitButton {
    width: 14%;
    border: none;
   
}

#messages, .roomList {
    list-style-type: none;
    margin: 0;
}

#messages li {
    padding-bottom: 20px;
}
li {
    padding: 1px;
}
/* #messages li:nth-child(odd) {
    background: #eee;
} */

#chat-container {
    overflow-y: scroll;
    word-wrap: break-word;
    height: 70vh;
    background-color: #2f3136;
    color: white;
    margin-top: 3%;
    
}

#textInfo {
    font-size: 1.2em;
    padding: 1%;
}
#around-chat {
    background-color: #2f3136;
    color: white;
    padding: 1%;
    max-height: 95vh;
}

.btnClose, .btnSave {
    margin: 5px;
    margin-right: 20;
    
    background-color: #5b6068;
    color: white;
    
    border: none;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 2px 3px 3px #888888;
} 

#direct-messages {
    font-size: 1.3em;
}

.container-fluid {
    background-color: #42454a;
    height: 100%;
}
.row {
    padding: 1%;
}

#All-users {
    overflow: auto;
    max-height: 95vh;
    background-color: #36393f;
    color: white;
    list-style-type: none;
    padding: 1%;
}
#All-users li, #All-users li, .stuff {
    font-size: 1.3em;
    text-decoration: none;
    padding: 10px;
}

#chatrooms {
    background-color: #202225;
    color: white;
    max-height: 95vh;
    overflow: auto;
    list-style-type: none;
    padding: 1%;
}

.test {
    border: 1px #42454a solid;
}

.edit-buttons, .delete-buttons {
    margin: 5px;
    margin-right: 12px;
    background-color: #5b6068;
    color: white;
    float: right;
    border: none;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 2px 3px 3px #888888;
    
}

.delete-buttons {
    background-color: rgba(209, 41, 41, 0.333);
}

.editArea {
    padding-bottom: 5px;
    padding-right: 5px;
   display: inline-block;
}

.msgsave, .msgclose {
    padding: 5px;
    border-radius: 90%;
    
    position: top 0;
}

.wow {
    color: black;
}

.space {
    padding: 1%;
}

#newRoomName, #m {
    background-color: #36393f;
    color: whitesmoke;
   
}


#createChatRoom, #newRoomName {
    border: 0;
}
#newRoomName {
    width: 60%;
    display: inline-block;
}


.imgContainer {
    float: left;
    width: 60px;
    height: 100%;
}

.profilePictureChat {
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
}

#testing {
    border: 0px white solid;
    border-radius: 40%;
}

#emoji-button {
    background-color: transparent;
    border: none;
    margin-left: -50px;
    margin-right: 18px;
}

.messageDate {
    color: #6C757D;
    font-size: small;
    margin-left: 5px;
}
