* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
}

#sendMessage {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 65%;
}

#sendMessage input {
    border: 0;
    padding: 10px;
    margin-right: .5%;
    width: 90%
}

#sendMessage button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}

#chat-container {
    overflow: auto;
    height: 94vh;
}

#direct-messages {
    overflow: auto;
    height: 400px;
}

#All-users {
    overflow: auto;
    height: 700px;
}