body,html{
    height:100%;
}

.profilePicture {
    width: 400px; 
    height: 400px;
}


.niceColors {
    background-color: #42454a;
    color : white;
    
}

.niceColors2 {
    background-color: #2f3136; ;
    color : white;
}

.niceColors3 {
    background-color: #2f3136;
    color : white;
}


.center {
    margin: 0 auto;
}

